@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
  color: $text-color;
  font: normal 125% / 1.4 $font-family;
}

h3 {
  color: $text-color-secondary;
}

q {
  color: $text-color-secondary;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: all 0.15s linear;

  @include on-event {
    color: $button-background-color-hover;
  }
}