// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@use "sass:math";

$font-family: "Roboto", sans-serif;
$padding: 1rem;
$border-radius: calc($padding / 4);
$icon-font-size: 1.5rem;