@import "../styles/abstracts/mixins";

@mixin apply-carousel-theming($theme) {
    @include component("carousel") {
        background-color: map.get($theme, "background-color-dark");

        @include component("carousel-arrow") {
            background-color: rgba(map.get($theme, "background-color-light"), 0.5);
            color: map.get($theme, "text-color-secondary");

            &:hover {
                background-color: rgba(map.get($theme, "background-color-light"), 0);
            }
        }
    }
}