@import "../styles/abstracts/mixins";

@include component("button") {
    border-radius: 0.25rem;
    padding: 1rem;
    display: block;
    width: max-content;
    transition: all 0.15s linear;
    cursor: pointer;
}