@import "../abstracts/variables";
@import "../abstracts/mixins";

@include component('html') {
  font-size: 16px;
  font-style: normal;
  
    * {
      font-family: $font-family;
    }

  a {
    text-decoration: none;
    transition: all 0.15s linear;
  }
}